@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Montserrat&display=swap');
/* Global Styles */
*,
*:before,
*:after {
box-sizing: border-box;
}

:root {
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1rem;
}

@media (min-width: 1250) {
    :root{
    --fs-xl: 4rem;
    --fs-l: 3rem;
    --fs-m: 2rem;
    --fs-s: 1rem;
    }
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('./blob-scene.svg') center no-repeat /*url('./blob-yellow.svg')  bottom left no-repeat */;
    background-size: cover;
    position: relative;
    /*background-position: top-center; */
   /* background-repeat: no-repeat; */
    background-attachment: scroll; 
    cursor: crosshair;
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
    color: #e98074;
    line-height: 1.25;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

a {  
    font-size: 1.5em;
    text-decoration: none;
    color: #8e8d8a;
}


header ul {
    display: flex;
    justify-content: flex-end;
    
    gap: 1em;
    margin: 1em;
    font-size: 1em;
    list-style-type: none;
    text-decoration: none;
}


 img {
     max-width: 100%;
     margin: 0;
     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

 }
 .fa-brands{
    color: black;
    font-size: 1em;
}

/* Home Page Styles */

.home-grid{
    display: grid;
    gap: 1em;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "image"
    "footer"
    ;
}

.header-home{
    grid-area: header;
} 

.resume{
color: #e85a4f;
}

.nav-home-left{
    grid-area: nav;

}

.nav-home-left > ul{
    display: flex;
    justify-content: flex-end;

    gap: 1em;
    margin: 1em;
    list-style-type: none;
}

.content-home{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1em; 

}

.home-heading-faded  {
    color: rgba(233, 128, 116, 0.4);
}

.img-home{
    grid-area: image;
} 


@media(min-width: 1250px){
    .home-grid{
        grid-template-columns: 1fr 3fr 2fr;
        grid-template-areas:
       "header header header"
       ". content image"
       "nav content image"
       "nav content image"
        ;
    }
    
    .header-home{
        margin-bottom: 2em;
    }

    .content-home h1{
        font-size: 3em;
    }

    .content-home h2 {
        font-size: 2em;
    }
    .content-home h3 {
        font-size: 1.5em;
    }

    .nav-home-left > ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;

    }
}

/* Blog Page Styles */

.title-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

.blog-grid {
    display: grid;
    height: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    margin: 1em;
 
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    width: clamp(30, 25%, 50);
    padding: 1em;
    margin: 0;
    justify-content: space-between;
    background:/*rgba(255, 241, 230, 0.8)*/ #f7f9fb ;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
  }
  
   .blog-date{
      display: flex;
      justify-content: flex-end;
      color: gray;
  }
  
  .bg-img{
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
  
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      filter: grayscale(100%);

      
      
  }
  
  .bg-img-1{
      background-image: url('./blog-photos/you-got-this.jpg');
      background-size: cover;
  }
  
  .bg-img-2{
      background-image: url('./blog-photos/clock-blog.jpg')
  }
  
  .bg-img-3{
      background-image: url('./blog-photos/css.jpg');
  }
  
  .bg-img-4{
      background-image: url('./blog-photos/computer.jpg');
  }
  
  .bg-img-5{
      background-image: url('./blog-photos/github.jpg');
  }
  
  .btn-blog{
      color: #212121;
      background: #f1f1f1;
      border: 1px solid #f1f1f1;
      padding: 0.5em;
      margin: 1em;
      border-radius: 10px;
  }
  
  
  
  @media(min-width: 750px){
      .blog-grid{
          grid-template-columns: repeat(2, 1fr);
      }
  }
  
  @media (min-width:1100px){
      .blog-grid{
      grid-template-columns: repeat(3, 1fr);
      }
  }

/* About Page Styles */

.grid-about-pg{
    display: grid;
    gap: 1em;
    grid-template-areas: 
    "title"
    "image"
    "content"
    "achievements"
    ;
    place-items: center;
}

.title-about{
    grid-area: title;
    margin: auto;
}
.content-section{
    grid-area: content;
    padding: 2em;
    margin: 0.5em;
}

.achievements {
    grid-area: achievements;
    display: flex;
    flex-direction: column;  
}

.achievements li {
    list-style-type: none;
    font-size: 1em;

}

ul .list-item{
 margin-bottom: 1em;
}

.achievements li i {
    padding: 0.5em;
}



.content-section, .achievements{
    margin: 1em;
    background: #f7f9fb;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
}

.surf-image > img {
    grid-area: image;
    margin-top: 0;
    max-height: 400px;
    min-width: 300px;
    
  }


@media(min-width: 700px) {
.grid-about-pg {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "title title"
      "content image"
      "achievements achievements"
      ;
  }
  
  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .surf-image > img {
      position: relative;
      max-height: 500px;
  }

  .achievements{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "achievements-left achievements-right"
      ;
  }

  .achievements-left{
      grid-area: achievements-left;
      display: flex;
      flex-direction: column;
      align-items: center;

  }

  .achievements-right{
      grid-area: achievements-right;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
  }

}

/* Work Page */

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.project-card{
    display: grid;
    min-width: 40vw;
    max-width: 80vw;
    grid-template-areas:
    "description"
    "links"
    "image"
    ;

    margin-bottom: 1em;
    place-items: center;
    background: #f7f9fb;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;


}

.project-description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1em;

}

.project-description > h3, .projection-description > p {
    margin: 0;
    padding: 0;
}

.project-links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.project-links > a {
    padding: 1em;
}

.project-links div span{
    padding: 1em;
}

.code-button{
    border: none;
    font-size: 1em;
    background: transparent;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    padding: 0.5em;
}

.project-img{
    grid-area: image;
    margin-bottom: 1em;
    max-width: 60%;
}

@media (min-width: 1000px){
    .project-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "links description image"
    ;
    }
}

