@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Montserrat&display=swap");

/* Global Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --fs-xl: 1.8rem;
  --fs-l: 1.4rem;
  --fs-m: 1.2rem;
  --fs-s: 1rem;
}

@media (min-width: 561px) {
  :root {
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-s: 1.3rem;
  }
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../assets/blob-scene.svg") center no-repeat;
  background-size: cover;
  background-attachment: scroll;
  cursor: crosshair;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

h3 {
  font-size: var(--fs-m);
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
  color: #e98074;
  line-height: 1.25em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  line-height: 2em;
}

a {
  text-decoration: none;
  color: rgb(142, 141, 138);
}

li {
  list-style-type: none;
  padding: 0.5em;
}

img {
  max-width: 100%;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; 
}

a .fa-brands {
  color: black;
  font-size: var(--fs-xl);
}

a .fa-brands:hover {
  color: #e98074;
}

/* Global Header */

.primary-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  margin-top: 0;
}

.sr-only {
  display: none;
} 

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background: hsl(0 0% 0% / 0.2);

  margin-top: 0;
}

@supports (backdrop-filter: blur(1em)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.7);
    backdrop-filter: blur(1em);
  }
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    gap: 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("../assets/bars-solid.svg") no-repeat;
    border: 0;
    aspect-ratio: 1/1;
    width: 2rem;
    top: 2rem;
    right: 1rem;
    z-index: 99999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url("../assets/solid-x.svg") no-repeat;
  }
}

/* Global Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  grid-area: footer;

  background: rgba(247, 249, 251, 0.6);
  color: #e98074;
  font-size: var(--fs-m);
}

footer > p {
  margin: 0;
  padding: 0;
}

@media (min-width: 750px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  footer p {
    margin: 0.6em;
  }
}

/* Home Page Styles */

.home-grid {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "nav"
    "content"
    "image"
    "footer";
}

.resume {
  color: #e85a4f;
}

.nav-home-left {
  grid-area: nav;
}

.nav-home-left > ul {
  display: flex;
  justify-content: flex-end;

  gap: 0.5em;
  margin-top: 4em;
}

.content-home {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin: 0;
  padding: 0;
}

.img-home {
  grid-area: image;
}

@media (min-width: 561px){
 
  .nav-home-left ul {
    margin-top: 0;
  }

  .img-home{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-home img {
    width: 75%;
  }

}

@media (min-width: 1250px) {
  .home-grid {
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas:
      "header header header"
      "nav content image"
      "nav content image"
      "nav content image"
      "footer footer footer";
  }

  .nav-home-left > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 4em;
  }

  .img-home img{
    width: 100%;
  }

  .footer-home {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Blog Page Styles */

.title-blog,
.blog-grid,
.btn-blog {
  margin: 1em;
}

.title-blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 2em;
}

.blog-grid {
  display: grid;
  height: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: clamp(30, 25%, 50);
  padding: 1em;
  margin: 0;
  background: #f7f9fb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog-date {
  display: flex;
  justify-content: flex-end;
  color: gray;
}

.bg-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  filter: grayscale(100%);
}

.bg-img-1 {
  background-image: url("../blog-photos/you-got-this.jpg");
}

.bg-img-2 {
  background-image: url("../blog-photos/clock-blog.jpg");
}

.bg-img-3 {
  background-image: url("../blog-photos/css.jpg");
}

.bg-img-4 {
  background-image: url("../blog-photos/computer.jpg");
}

.bg-img-5 {
  background-image: url("../blog-photos/github.jpg");
}

.btn-blog {
  color: #212121;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  padding: 0.5em;
  border-radius: 10px;
}

@media (min-width: 750px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* About Page Styles */

.grid-about-pg {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "title"
    "image"
    "content"
    "bottom";
}

.about-bottom-section, .goals, .education, .surf-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-about {
  grid-area: title;
  margin: 2em auto 0;
}
.content-section {
  grid-area: content;
}

.about-bottom-section {
  grid-area: bottom;
}

 .content-section, .about-bottom-section, .goals, .education {
  margin: 1em;
  padding: 1em;
} 

.content-section,
.about-bottom-section {
  background: rgb(247, 249, 251);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.goals > h3{
  padding: 1em;
}

.surf-image > img {
  grid-area: image;
  margin: 1em;
  max-height: 500px; 
  
}

@media (min-width: 800px) {
  .grid-about-pg {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "title title"
      "content image"
      "bottom bottom";
  }
}

/* Work Page */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card {
  display: grid;
  min-width: 40vw;
  max-width: 80vw;
  grid-template-areas:
    "description"
    "links"
    "image";

  margin-bottom: 1em;
  place-items: center;
  background: #f7f9fb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 1em;
}

.project-description > h3,
.projection-description > p {
  margin: 0;
  padding: 0;
}

.project-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.project-links > a {
  padding: 0.2em;
}

.code-btn {
  width: 8em;
  border: none;
  background: rgba(142, 141, 138, 0.4);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 1.5em;
  color: #e98074;
}

.project-img {
  grid-area: image;
  margin: 1em;
  max-width: 60%;
}

@media (min-width: 1000px) {
  .project-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "links description image";
  }
}
